@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scrollECG {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1600px;
  }
}

.animate-ecg {
  animation: scrollECG 10s linear infinite;
}
